.inicio {
  padding-left: 15px;
  text-decoration: none;
}
.navTitulo {
  font-weight: 400;
  color: beige;
  padding-left: 15px;
}

.navContenedor {
  width: 100%;
  background-color: rgb(31 154 145);
  color: #ffffff;
}

.imgNav {
  width: 30px;
  height: 30px;
}
